
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: hidden;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 12rem;
    margin: 1rem;
    border-radius: 1rem;
    color: white;
    border: 1px solid rgba(gray, .24);
    background-color: transparent;
    transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      color: rgba(black, 1);
      background-color: rgba(white, .64);
      transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}