.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

canvas {
  width: 400px;
  height: 400px;
}

#image1 {
  background-image: url("https://gw.alicdn.com/bao/uploaded/i3/2206959856582/O1CN01047eSf1yUbnZR6b7o_!!0-item_pic.jpg");
}

#image2 {
  background-image: url("https://gw.alicdn.com/bao/uploaded///asearch.alicdn.com/bao/uploaded/O1CN013HQHLr1PPYkN0IqcJ_!!6000000001833-0-yinhe.jpg");
  background-size: cover;
  background-position: center;
}

.show {
  opacity: 1;
}

button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
